table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
thead {
    background-color: #3498db;
    color: white;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: center;
}